---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import Sprites from "@components/Sprites.astro";
import PixelBlastBackground from "../components/react/PixelBlastBackground.jsx";
import { SITE_TITLE } from "../consts";

const { title, description, image, alt } = Astro.props;
---

<!doctype html>
<html lang="en-US" class="no-js">
	<head>
		<script is:inline>
			document.documentElement.classList.remove("no-js");
			function getColor(document) {
				const localStorageValue = localStorage.getItem("preference-scheme");
				if (localStorageValue)
					document.documentElement.setAttribute(
						`data-user-scheme`,
						localStorageValue.toLowerCase()
					);
			}
			function getMotion(document) {
				const stored = localStorage.getItem("preference-motion");
				if (stored === "Disabled") {
					document.documentElement.setAttribute("data-user-motion", "disabled");
				} else if (stored === "System preference") {
					document.documentElement.removeAttribute("data-user-motion");
				} else {
					document.documentElement.setAttribute("data-user-motion", "enabled");
				}
			}
			async function fontsLoaded() {
				let ready = await document.fonts.ready;
				if (ready) {
					document.documentElement.setAttribute("fonts-loaded", true);
				}
			}

			function bindScroll() {
				const main = document.getElementById("main");
				main.addEventListener("scroll", (event) => {
					if (
						window.matchMedia("(min-width: 62em) and (min-height: 36em)")
							.matches
					) {
						event.preventDefault();
						main.scrollTo(0, 0);
					}
				});
			}
			document.addEventListener("astro:before-swap", (event) => {
				getColor(event.newDocument);
				getMotion(event.newDocument);
			});
			document.addEventListener("astro:after-swap", (event) => {
				fontsLoaded(document);
				bindScroll();
			});
			document.addEventListener("astro:page-load", (event) => {
				bindScroll();
			});
			getColor(document);
			getMotion(document);
			fontsLoaded();
		</script>
		<BaseHead
			title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}
			description={description}
			image={image}
			alt={alt}
		/>
		<ViewTransitions />
	</head>
	<body class="layout">
		<PixelBlastBackground client:load />
		<Header />
		<main class="layout__main" id="main" tabindex="-1" aria-label="Main">
			<slot />
		</main>
		<Footer />
		<div class="sprites">
			<Sprites />
		</div>
		<span class="visually-hidden" aria-live="assertive" id="live-region"></span>
	</body>
</html>

<style>
	.sprites {
		display: none;
	}
</style>
